@import url("https://fonts.googleapis.com/css?family=Alice");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import "semantic-ui-css/semantic.min.css";

.app {
  height: 100vh;
  width: 100%;
  background-color: #cbe6d9;
  /* background-color: rgb(200, 240, 220); */
}

.app-content {
  padding: 5px;
}

.app-content-notop {
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 50px;
}

.home {
  padding: 5px;
  /* background-color: white; */
}

.loginforms-container {
  height: 100vh;
  vertical-align: middle;
}

.loginforms {
  margin: auto;
  text-align: center;
  max-width: 380px;
}

.loginforms-header {
  font-family: Alice;
  font-size: 20px;
  color: #980c3adb;
}

.loginforms-title {
  font-size: 24px;
}

/* not usable somehow; the header style preceded */
.modal-header {
  background-color: #cbe6d9;
}

.set-name-style {
  color: #6226e4;
}

.song-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.53em;
  font-weight: normal;
  margin-bottom: 10px;
}

.song-author {
  font-size: 0.875em;
}

.song-body {
  /* default for song body, but size is computed dynamically */
  font-family: consolas, monospace;
  font-size: 1.5em;
}

pre {
  /* song body use this style */
  font-family: consolas, monospace;
}

strong {
  font-weight: normal;
  /* background-color: white; */
  color: #b71b1b;
}

mark {
  background-color: #cde7da;
  color: blue;
}
